DATASET_PATH=dataset
OPENAI_API_KEY=your_api_key_here
CLASSIFICATION_PROMPT=Is there garbage in this image? Answer with yes or no.
IMAGE_DETAIL=auto
MODEL=gpt-4.1-nano
TRACKING_URI=http://127.0.0.1:5000
